<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="festivals"
		connectionString="Data Source=MOHIWORKSTATION;Initial Catalog=festival;Integrated Security=true;" />
		<!--
<add name="tasksDB"
connectionString="Database=mpp;Data Source=localhost;User id=test;Password=passtest;" />
 -->
	</connectionStrings>
</configuration>
