# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LabRPC.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\razva\RiderProjects\LabRPC\.idea\.idea.LabRPC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
